.a{
    text-align: center;
}
.navbar ul{
    list-style: none;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    text-align: center;
  
}
.navbar a{
color: aqua;
   text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
  
}
.navbar a:hover{
    color: rgb(58, 6, 6);
}
